$space-sm: 15px;
$space-md: 30px;
$space-lg: 65px;
.global-vertical-padding-lg {
    padding-top: 65px;
    padding-bottom: 65px;
}

.global-top-padding-lg {
    padding-top: 65px;
}

.global-bottom-padding-lg {
    padding-bottom: 65px;
}

.global-vertical-padding-md {
    padding-top: 30px;
    padding-bottom: 30px;
}

.global-top-padding-md {
    padding-top: 30px;
}

.global-bottom-padding-md {
    padding-bottom: 30px;
}

.global-top-padding-sm {
    padding-top: 15px;
}

.global-bottom-padding-sm {
    padding-bottom: 15px;
}

.global-vertical-padding-sm {
    padding-top: 15px;
    padding-bottom: 7px;
}